extends ../layout/base.pug

block content 
    section.wholeWrapper 
        section.XX__left 
        section.rsWrapper 
            div.signinBox
                div.signinBox_box
                    form.signinForm(action="/signin", method="POST")
                        input.siginForm__input(type="email" name="signinEmail" placeholder="email") 
                        input.siginForm__input(type="password" name="signinPassword" placeholder="password") 
                        input.siginForm__submit(type="submit" name="SIGN IN") 
        section.XX__right 