extends ../layout/base.pug

block content 
    section.wholeWrapper 
        section.XX__left 
        section.rsWrapper
            .rsWrapper__col1
                .rsWrapper__col1__sec1
                .rsWrapper__col1__sec2
                .rsWrapper__col1__sec3
                    .rsWrapper__col1__sec3__t1
                    .rsWrapper__col1__sec3__t2
        section.XX_right 