.rsWrapper__col1 {
  width: 100%;
  height: calc(1500px - 50px);
}

.rsWrapper__col1__sec1 {
  width: 100%;
  height: 400px;
  background-image: url("https://i.pinimg.com/474x/35/a5/05/35a505304dfff0307d5f69a04396d3f8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 40px;
}

.rsWrapper__col1__sec2 {
  width: 100%;
  height: 400px;

  background-color: coral;
  margin-bottom: 40px;
}

.rsWrapper__col1__sec3 {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.rsWrapper__col1__sec3__t1 {
  width: 30%;
  height: 400px;
  background-image: url("https://i.pinimg.com/474x/12/8d/6f/128d6f792f0ac50eda31bac173f33928.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.rsWrapper__col1__sec3__t2 {
  width: 70%;
  height: 400px;
  background-color: darkgoldenrod;
}
